@model MvcTemplate.Web.ViewModels.Rating.RatingViewModel

<div class="well text-center votesWell">
    <div class="row" id="votesCount">@Model.Ratings</div>
    <button class="glyphicon glyphicon-thumbs-up voteBtn" data-value="1" data-id="@Model.IrregularityId"> </button>
</div>